<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.sky.mapper.MSMapper">

	<resultMap type="com.web.sky.hotel.RespMap" id="respMap">
		<id property="hotelSeq" column="hotel_seq" />
		<result property="hotelSite" column="hotel_site" />
		<result property="hotelName" column="hotel_name" />
		<result property="destination" column="destination" />
		<result property="district" column="district" />
		<result property="price" column="price" />
		<result property="rate" column="rate" />
		<result property="guest" column="guest" />
		<result property="numberOfRoom" column="number_of_room" />
		<result property="articleName" column="article_name" />
		<result property="hotelService" column="hotel_service" />
		<result property="articleDate" column="article_date" />
		<result property="location" column="location" />
		<result property="hotelGeneral" column="hotel_general" />
		<result property="room" column="room" />
		<result property="guest_type" column="guest_type" />
		<result property="atomosphere" column="atomosphere" />
		<result property="internet" column="internet" />
		<result property="email" column="email" />
		<result property="refundPolicy" column="refund_policy" />
		<result property="breakfast" column="breakfast" />
		<result property="facility" column="facility" />
		<result property="sirname" column="sirname" />
		<result property="firstName" column="first_name" />
		<result property="country" column="country" />
		<result property="regdate" column="regdate" />
		<result property="password" column="password" />
		<result property="count" column="count" />
	</resultMap>

	<resultMap type="com.web.sky.hotel.Hotel" id="hotel">
		<id property="hotelSeq" column="hotel_seq" />
		<result property="hotelSite" column="hotel_site" />
		<result property="hotelName" column="hotel_name" />
		<result property="destination" column="destination" />
		<result property="district" column="district" />
		<result property="price" column="price" />
		<result property="rate" column="rate" />
		<result property="guest" column="guest" />
		<result property="numberOfRoom" column="number_of_room" />
	</resultMap>

	<insert id="insert" parameterType="com.web.sky.command.Command">
		Insert Into Member(email,password,regdate) values (#{search},#{dir},now());
	</insert>

	<insert id="insertReserve" parameterType="com.web.sky.command.Command">
		INSERT INTO HotelReserve(hotel_reserve_no,email,hotel_seq)
		SELECT #{action},
		m.email, h.hotel_seq
		FROM Hotel h,Member m
		WHERE m.email LIKE #{column} AND m.password LIKE
		#{dir} AND h.hotel_seq LIKE ${page} AND h.number_of_room > 0
		ON
		DUPLICATE KEY UPDATE hotel_reserve_no = hotel_reserve_no
	</insert>

	<select id="selectList" resultMap="hotel" parameterType="com.web.sky.command.Command">
		SELECT hotel_seq, hotel_name, destination, district, price, rate, guest,
		number_of_room
		FROM Hotel
		WHERE destination LIKE '%${action}%'
		ORDER BY hotel_name
	</select>

	<select id="recommandList" resultMap="respMap"
		parameterType="com.web.sky.command.Command">
		SELECT q.*
		FROM(
			SELECT @rownum:=@rownum+1 AS num, p.*
			FROM(
				SELECT k.hotel_seq, k.hotel_name, k.destination, k.district, k.price,
				k.rate, k.guest, k.number_of_room, k.refund_policy, k.breakfast,
				k.facility
				FROM(
					SELECT h.hotel_seq, h.hotel_name, h.destination, h.district, h.price,
					h.rate, h.guest, h.number_of_room, ho.refund_policy, ho.breakfast,
					ho.facility
					FROM Hotel h
					JOIN HotelOption ho ON h.hotel_seq LIKE ho.hotel_seq
				WHERE h.destination LIKE '%${action}%') k, (SELECT @rownum:=0
			)b
		) p
		ORDER BY p.${search}) q
		WHERE q.num BETWEEN #{startRow} AND #{endRow};
	</select>

	<select id="selectOne" resultType="com.web.sky.member.Member"
		parameterType="com.web.sky.command.Command">
		SELECT * FROM Member
		WHERE email = #{search} and password = #{column};
	</select>

	<select id="selectFilter" resultMap="respMap">
		SELECT GROUP_CONCAT(DISTINCT refund_policy SEPARATOR '/') refund_policy,
		GROUP_CONCAT(DISTINCT breakfast SEPARATOR '/') breakfast,
		GROUP_CONCAT(DISTINCT facility SEPARATOR '/') facility
		FROM HotelOption;
	</select>

	<select id="count" resultType="com.web.sky.hotel.Hotel"
		parameterType="com.web.sky.command.Command">
		SELECT count(*) as count
		FROM Hotel h
		JOIN HotelOption ho ON h.hotel_seq LIKE
		ho.hotel_seq
		WHERE h.destination LIKE '%${action}%'
	</select>

	<update id="update">
		UPDATE Hotel h, Member m
		SET
		h.number_of_room=h.number_of_room-1
		WHERE h.hotel_seq LIKE ${page} AND m.email LIKE #{column} AND password LIKE	#{dir} AND h.number_of_room > 0
	</update>

	<delete id="delete">
	</delete>
</mapper>